@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

.dropdown-toggle::after {
  display: none !important;
}


@media (max-width: 1024px) {
  #login__container {
      width: "100%";
  }

  #register_container {
    width: "100%";
  }

  #new_user__container {
    width: "80%";
  }
}

/* Default Medium Sized Tablet Screen*/
@media (max-width: 768px) {
  #login__container {
      width: "100%";
  }

  #register_container {
    width: "100%";
  }

  #new_user__container {
    width: "80%";
  }

}

/* Default Size for Mobile Screens */
@media (max-width: 480px) {
  #login__container {
      width: "100%";
  }

  #register_container {
    width: "100%";
  }

  #new_user__container {
    width: "80%";
  }
}

/* loader */
#loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
